* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0F0F1B 0%, #1A1A2E 70%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.form-container {
    background-color: #F0ECE5; /* Light mode form background */
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 20px 90px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A5568; /* Light mode title color */
}



label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #4A5568; /* Light mode label color */
    margin-bottom: 0.5rem;
}


.input-container {
    position: relative;
    margin-bottom: 2rem;
}

.input-field {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #B6BBC4; /* Light mode input border color */
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    color: #2D3748; /* Light mode input text color */
    background-color: #F0ECE5; /* Light mode input background color */
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}


.input-field:focus {
    border-color: #B6BBC4; /* Focus border color */
    background-color: #FFF; /* Focus background color */
    box-shadow: 0 0 10px rgba(107, 70, 193, 0.15);
}


.headingsidx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
a{
    text-decoration: none;
    border: 1px solid black;
    padding: 7px 10px;
    color: white;
    background: #4A5568;
    transition: ease-in-out .5s;
    border-radius: 10px;
}
a:hover{
    background-color: #0F0F1B;
}
.submit-btn {
    width: 100%;
    padding: 0.9rem;
    background-color: #31304D; /* Light mode button background color */
    color: #F0ECE5; /* Light mode button text color */
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background-color: #161A30; /* Hover color */
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(90, 59, 186, 0.3);
}

.submit-btn:active {
    transform: translateY(1px);
}

p {
    text-align: center;
    font-size: 1.1rem;
    color: #31304D; /* Light mode text color */
    margin-top: 1.5rem;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .form-container {
        padding: 1.5rem;
        width: 90%;
    }
    
    .submit-btn {
        font-size: 1rem;
    }
}
